@charset "UTF-8";
h1 {
  color: red;
  box-shadow: 3px 10px #000000;
  font-style: normal;
  font-weight: bold;
  text-align: center;
}
body p img {
  border: 10px solid #00FA35;
}
body p {

}
.keyword {
  color: #9805FA;
  font-weight: bold;
  text-decoration: overline;
}
